@model ExamAPI.Model.Marks

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Marks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Dotnet" class="control-label"></label>
                <input asp-for="Dotnet" class="form-control" />
                <span asp-validation-for="Dotnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IOS" class="control-label"></label>
                <input asp-for="IOS" class="form-control" />
                <span asp-validation-for="IOS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BLockChain" class="control-label"></label>
                <input asp-for="BLockChain" class="form-control" />
                <span asp-validation-for="BLockChain" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
